BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #e1e9f4; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; LINE-HEIGHT: 170%; PADDING-TOP: 0px; FONT-FAMILY: "ËÎÌו",Arial; TEXT-ALIGN: center
}
UNKNOWN {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
DIV {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
FORM {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
UL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
OL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
LI {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
SPAN {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
P {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
A IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
INPUT {
	FONT-SIZE: 12px
}
A:unknown {
	FONT-SIZE: 12px; COLOR: #6699cc; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 12px; COLOR: #6699cc; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #6699cc; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #6699cc; TEXT-DECORATION: none
}
SELECT {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: #edeced; LEFT: 1px; BORDER-LEFT: 0px; WIDTH: 115px; COLOR: #000000; LINE-HEIGHT: 14px; BORDER-BOTTOM: 0px; POSITION: relative; TOP: 1px
}
.da_width {
	MARGIN: auto; WIDTH: 735px
}
.dl_back {
	BACKGROUND: url(userLogin.asp/index.html); HEIGHT: 214px
}
.dl_right {
	FLOAT: center; WIDTH: 400px
}
.dl_right1 {
	FLOAT: right; WIDTH: 335px
}
.dl_right_1 {
	MARGIN-TOP: 10px; FLOAT: center; WIDTH: 270px; PADDING-TOP: 5px
}
#dl_margin {
	MARGIN-TOP: 150px
}
.dl_margin0 {
	MARGIN: 0px 0px 5px 45px
}
.dl_margin1 {
	MARGIN: 0px 0px 0px 80px
}
.dl_text {
	BORDER-RIGHT: #87a6c3 1px solid; BORDER-TOP: #87a6c3 1px solid; BACKGROUND: #edeced; BORDER-LEFT: #87a6c3 1px solid; WIDTH: 115px; BORDER-BOTTOM: #87a6c3 1px solid; HEIGHT: 19px
}
.lclear {
	CLEAR: both
}
.dl_font {
	FONT-WEIGHT: bolder; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.dl_font0 {
	FONT-WEIGHT: bolder; FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.font_avi A:unknown {
	FONT-SIZE: 12px; COLOR: #5d5c5a; TEXT-DECORATION: none
}
.font_avi A:link {
	FONT-SIZE: 12px; COLOR: #5d5c5a; TEXT-DECORATION: none
}
.font_avi A:hover {
	FONT-SIZE: 12px; COLOR: #5d5c5a; TEXT-DECORATION: none
}
.font_avi A:visited {
	FONT-SIZE: 12px; COLOR: #5d5c5a; TEXT-DECORATION: none
}
.STYLE2 {
	FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.an {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; BACKGROUND: url(userLogin.asp/index.html); PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: 58px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; height16px: 
}


